Q1. Create one variable containing following type of data:

(i) string

In [2]:
variable = "Welcome to PW skills"

In [3]:
variable

'Welcome to PW skills'

(ii) list

In [4]:
l1 = [1,2,3,5+6j, 'hello vivek', 22.334]
l1

[1, 2, 3, (5+6j), 'hello vivek', 22.334]

(iii) float

In [5]:
v1 = 3.45

In [6]:
v1

3.45

(iv) tuple

In [7]:
v2 = (1,2,'vivek','pw skills')

In [8]:
v2

(1, 2, 'vivek', 'pw skills')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

1 = str
2 = str|
3 = list
4 = float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / (Division Operator):
The / operator is used for division. It divides the left operand by the right operand and returns a floating-point number as the result.

In [11]:
result = 10/3
print(result)

3.3333333333333335

(ii) % (Modulus Operator):
The % operator is used for the modulus operation, which returns the remainder when the left operand is divided by the right operand.

In [10]:
remainder = 10 % 3
print(remainder)

1

(iii) // (Floor Division Operator):
The // operator is used for floor division. It divides the left operand by the right operand and returns the largest integer less than or equal to the result.

In [12]:
result = 10 // 3
print(result)

3

iv) ** (Exponentiation Operator):
The ** operator is used for exponentiation. It raises the left operand to the power of the right operand.

In [13]:
result = 2**3
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [27]:
my_list = [1, 2.5, 'Hello', True, [1, 2, 3], (4, 5, 6), {'name': 'Alice', 'age': 30}, {23,34,56} , 7 + 3j, False]

for i in my_list:
    print(f"Element : {i}, Data Type : {type(i)}")

Element : 1, Data Type : <class 'int'>
Element : 2.5, Data Type : <class 'float'>
Element : Hello, Data Type : <class 'str'>
Element : True, Data Type : <class 'bool'>
Element : [1, 2, 3], Data Type : <class 'list'>
Element : (4, 5, 6), Data Type : <class 'tuple'>
Element : {'name': 'Alice', 'age': 30}, Data Type : <class 'dict'>
Element : {56, 34, 23}, Data Type : <class 'set'>
Element : (7+3j), Data Type : <class 'complex'>
Element : False, Data Type : <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans : Unable to do quite hard for me

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [31]:
my_list = [12, 6, 9, 8, 15, 7, 27, 30, 21, 18, 11, 4, 33, 22, 2, 10, 14, 25, 19, 17, 3, 13, 1, 5, 16]

for i in my_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

12 is divisible by 3
6 is divisible by 3
9 is divisible by 3
8 is not divisible by 3
15 is divisible by 3
7 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
21 is divisible by 3
18 is divisible by 3
11 is not divisible by 3
4 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
2 is not divisible by 3
10 is not divisible by 3
14 is not divisible by 3
25 is not divisible by 3
19 is not divisible by 3
17 is not divisible by 3
3 is divisible by 3
13 is not divisible by 3
1 is not divisible by 3
5 is not divisible by 3
16 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans : Mutable and immutable are two fundamental concepts in programming that describe how data types behave with respect to modification.

Immutable Data Types:
Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable data type actually creates a new object with the modified value. Examples of immutable data types in Python include:

In [32]:
#Integers (int): Integers are immutable. When you perform an operation on an integer,
#it creates a new integer object with the result.

x = 5
y = x
x = x+1
print(x)
print(y)

6
5

In [33]:
#Strings (str): Strings are also immutable. 
#Any operation that appears to modify a string creates a new string with the modified value.

s = "Hello"
s = s + "World"
print(s)

HelloWorld

In [36]:
#Tuples (tuple): Tuples are immutable sequences of elements. 
#Once a tuple is created, you cannot change its elements.

my_tuple = (1,2,3)
my_tuple.add(4)

AttributeError: 'tuple' object has no attribute 'add'

Mutable Data Types:
Mutable data types are those whose values can be changed after they are created. Operations that modify a mutable data type directly modify the existing object without creating a new one. Examples of mutable data types in Python include:

In [37]:
#Lists (list): Lists are mutable. You can add, remove, or modify elements within a list.

my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [38]:
#Dictionaries (dict): Dictionaries are mutable mappings of keys to values. 
#You can add, remove, or update key-value pairs.

my_dict = { 'name' : 'vivek' , 'surname' : 'Roy'}
my_dict['surname'] = 'Singh'
print(my_dict)

{'name': 'vivek', 'surname': 'Singh'}

In [39]:
#Sets (set): Sets are mutable collections of unique elements. 
#You can add or remove elements from a set.

my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}